.navbar {
    width: 100%;
    max-width: 100%;
    min-height: 20vh;
    transition: all 500ms;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;



    .head {
        width: 90%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;

        button {
            padding: 10px;
        }

        h1 {
            color: white;
        }
    }

    .nav {
        width: 90%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        ul {
            display: flex;
            gap: 30px;

            li {
                a {
                    font-size: 19px;
                    color: black;
                    font-family: serif;
                    font-weight: bold;

                }

                .active {
                    color: orange;
                }

                i {
                    font-size: 10px;
                }

            }

        }

        .icon {
            display: flex;
            gap: 13px;
            color: black;
            cursor: pointer;

            i {
                color: black;
            }
        }
    }
}

.sticky {
    position: fixed;
    background-color: white;
    min-height: 12vh;
    border-bottom: 1px solid #aa8453;

    .nav {
        ul {
            display: flex;
            gap: 30px;

            li {
                a {
                    font-size: 18px;
                    color: black !important;
                    font-family: 'Barlow Condensed', sans-serif;

                }

                .active {
                    color: #3f3e3c !important;
                }

                i {
                    font-size: 10px;
                }

            }

        }

    }

    .head {
        display: none;

        h1 {
            color: white;
        }

        ul {
            li {
                a {
                    color: black;
                }
            }
        }

        .icon {
            i {
                color: black;
            }
        }
    }
}

// .navbar.navbarBcgColor {
//     background-color: rgb(209, 209, 209);
//     position: static;
//     border-bottom: 1px solid #cdc5b9;

//     .nav {
//         ul {
//             li {
//                 a {
//                     color: black;
//                 }
//             }
//         }
//     }
//     .head{
//         .icon{
//             i{
//                 color: black  !important;
//             }
//         }
//     }
// }



@media only screen and (min-width: 300px) and (max-width:600px) {
    .navbar {
        display: none;

    }
}


@media only screen and (min-width: 600px) and (max-width:1200px) {
    .navbar {
        display: none;

    }
}