.cards {
    max-width: 90%;
    margin: 20px auto;
    min-height: 115vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;



    .card {
        position: relative;
        width: 540px;
        height: 410px;
        cursor: pointer;

        .view {
            position: absolute;
            width: 540px;
            height: 410px;
            z-index: 1;
            transition: 0.4s;

            .img {
                width: 540px;
                height: 410px;


            }

            .write {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.45);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 35px;
                color: white;
                text-align: center;
                top: 0px;
                left: 0px;

                h2 {
                    font-weight: bolder;
                }

                p {
                    font-size: 21px;
                    font-weight: bold;
                }

                button {
                    width: 200px;
                    height: 60px;
                    background-color: #f1b84b;
                    color: black;
                    border: none;
                    font-weight: bolder;
                    font-size: 18px;
                    cursor: pointer;


                    i {
                        opacity: 0;
                        transition: 0.4s;

                    }

                    &:hover {
                        width: 230px;

                        i {
                            opacity: 1;
                            transform: translateX(15px);
                        }
                    }
                }

            }

        }

        .opacity {
            width: 540px;
            height: 410px;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 3px solid black;
            gap: 30px;

            .image {
                width: 230px;
            }

        }

        &:hover {

            .view {
                position: absolute;
                z-index: 3;
            }

        }


    }
}


@media only screen and (min-width: 300px) and (max-width:600px) {
    .cards {
        display: none;

    }
}


@media only screen and (min-width: 600px) and (max-width:1200px) {
    .cards {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;

    }
}



@media only screen and (min-width: 1200px) and (max-width:1800px) {
    .cards {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto  auto;

    }
}