#faqs {
    max-width: 100%;
    min-height: 140vh;
    border: 2px solid black;
    background-color: rgb(235, 188, 188);

    .faqs {
      width:700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
  
      .faqs_head {
        display: flex;
        width: 100%;
        min-height: 80px;
        font-weight: 900;
        font-size: 25px;
        justify-content: center;
        align-items: center;
      }
      .faqs_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        .faq_card {
          max-width: 520px;
          width: 90%;
          min-height: 60px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          transition: all 0.5s ease-in-out;
  
          i {
            color: #08478770;
            //   font-family: "Poppins", sans-serif;
          }
          .question {
            width: 100%;
            height: 80px;
            background-color: #fffafa;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px;
            transition: all 0.6s ease-in-out;
            span {
              width: 57px;
              height: 57px;
              background-color: #f2f3f6;
              line-height: 57px;
              font-size: 22px;
              font-weight: 900;
              color: #a6a6a6;
              text-align: center;
            }
            p {
              width: 80%;
              font-size: 18px;
              color: #000000;
              font-weight: 600;
            }
          }
          .answer {
            width: 100%;
            height: auto;
            // border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 20px 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            border: 2px solid #86020240;
            box-shadow: #e310058d 0px 8px 24px;
            transition: all 0.6s ease-out;
          }
        }
      }
      .faq_button {
        border-radius: 10px;
        min-width: 150px;
        height: 50px;
        background-color: transparent;
        color: #000000;
        font-size: 14px;
        border: 1px solid #4a8cff8e;
        transition: 400ms;
        font-weight: 500;
        &:hover {
          color: #ff8000;
        }
      }
  
      // .active {
      //   display: none;
      // }
    }
  }
  
  